
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin-bottom: 64px;
}

.codeBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    gap: 8px;
}

.codeBox{
    border: 2px solid var(--border);
    padding: 16px;
    width: 1000px;
}